opencv-python>=4.9.0
Pillow>=10.3.0
transformers>=4.44.0
torch>=2.3.0
numpy>=1.26.0
python-dotenv>=1.0.1
rich>=13.7.1
click>=8.1.7
pandas>=2.2.2
deep-translator>=1.11.4
openai>=1.42.0
Flask>=3.0.0
pymilvus>=2.3.0
psutil>=5.9.0
tqdm>=4.66.0
kafka-python>=2.0.2
redis>=5.0.0
requests>=2.31.0
flask-cors>=4.0.0
